.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag current_user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profile_user_desplayName
          - if current_user.profile.present?
            = @profile.name
        .profilePage_user_actionButton
          = link_to 'Edit', edit_profile_path
      .profilePage_user_department
        - if current_user.profile.present?
          = @profile.department
  - current_user.boards.each do |board|
    = link_to board_path(board) do
      .card_container
        .card_content
          %h3.card_title
            = board.name
          - if user_signed_in? && current_user.boards.exists?(id: board.id)
            .dropdown
              = image_tag 'actions.svg', class: 'dropdown_mini'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: '本当に削除しますか？'}
        .card_description
          %p= board.description
        .prf_img
          = image_tag board.user.avatar_image