.container
  %h1.page_title
    = @board.name
  - @tasks.each do |task|
    = link_to board_task_path(board_id: @board.id, id: task.id) do
      .card_container
        - if task.eyecatch.attached?
          .image_container
            .card_image
              = image_tag task.eyecatch
        .card_content
          %h3.card_title
            = task.title
          - if user_signed_in? && current_user.tasks.exists?(board_id: @board.id, id: task.id)
            .dropdown
              = image_tag 'actions.svg', class: 'dropdown_mini'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_task_path(task)
          -#       = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: '本当に削除しますか？'}
        .card_description
          %p= task.content
      -#   = image_tag 'male-avater.png'
      -# = link_to new_board_path(@board)
      -#   %button{type: 'submit',class: 'btn-new'} + Add new board
  .btn-new
    = link_to '+ Add new task', new_board_task_path(@board)
